<!DOCTYPE html>
  <html>
    <head>
      <title>{{ page.title }}</title>
      <!-- link to main stylesheet -->
      <link rel="stylesheet" type="text/css" href="/css/main.css">
    </head>
    <body>
      <nav>
          <ul>
              <li><a href="/">Home</a></li>
              <li><a href="/projects">Projects</a></li>
              <li><a href="/coursework">Course-Work</a></li>
              <li><a href="/publications">Publications</a></li>
              <!--
                <li><a href="/blog">Blog</a></li>
              -->
          </ul>
      </nav>
      <div class="container">

      {{ content }}

      </div><!-- /.container -->
      <footer>
              <h3>Let's Get Connected<h3>
          <ul>
              <li><a href="mailto:deshpandeshrinath@gmail.com">Email</a></li>
              <li><a href="https://github.com/deshpandeshrinath">Github</a></li>
              <li><a href="https://github.com/deshpandeshrinath">LinkedIn</a></li>
              <li><a href="https://github.com/deshpandeshrinath">Facebook</a></li>
        </ul>
      </footer>
    </body>
  </html>
